$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
}

body {
  padding: 0;
}

#new-subscript, .edit {
  position: relative;
  margin: 0;
  width: 100%;
  font-size: 14px;
  font-family: inherit;
  font-weight: inherit;
  line-height: 1.4em;
  border: 0;
  outline: none;
  color: inherit;
  padding: 6px;
  border: 1px solid #999;
  box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}


#new-subscript {
  padding: 16px 16px 16px 45px;
  border: none;
  background: rgba(0, 0, 0, 0.003);
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}


#subscript-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

#subscript-list li {
  position: relative;
  font-size: 14px;
  border-bottom: 1px solid #ededed;
}

#subscript-list li:last-child {
  border-bottom: none;
}

#subscript-list li.editing {
  border-bottom: none;
  padding: 0;
}

#subscript-list li.editing .edit {
  display: block;
  width: 506px;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px;
}

#subscript-list li.editing .view {
  display: none;
}

#subscript-list li .toggle {
  text-align: center;
  width: 40px;
  /* auto, since non-WebKit browsers doesn't support input styling */
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  border: none; /* Mobile Safari */
  -webkit-appearance: none;
  appearance: none;
}

#subscript-list li .toggle:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

#subscript-list li .toggle:checked:after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}

#subscript-list li label {
  white-space: pre;
  word-break: break-word;
  padding: 5px 5px 5px 5px;
  margin-left: 45px;
  display: block;
  line-height: 1.2;
  transition: color 0.4s;
}

#subscript-list li.completed label {
  color: #d9d9d9;
  text-decoration: line-through;
}

#subscript-list li .destroy {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  width: 20px;
  height: 20px;
  margin: auto 0;
  font-size: 14px;
  color: #cc9a9a;
  transition: color 0.2s ease-out;
}

#subscript-list li .destroy:hover {
  color: #af5b5e;
}

#subscript-list li .destroy:after {
  content: '×';
}

#subscript-list li:hover .destroy {
  display: block;
}

#subscript-list li .edit {
  display: none;
}

#subscript-list li.editing:last-child {
  margin-bottom: -1px;
}