<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Wechat Analysis</span>
            </div>

            <div class="for-lg-view-hide">
                <div class="navbar-collapse ng-hide" ng-show="isExpanded" ng-click="isExpanded = false">
                    <div><span>Logout</span></div>
                </div>
            </div>

            <div class="for-sm-view-hide">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- ngRepeat: (url, name) in sections -->
                        <li ng-repeat="(url, name) in sections" ng-class="{active: isActivePath(url)}" class="ng-scope">
                            <a ng-href="#/api" class="ng-binding" href="#/api"><i class="icon-book icon-white"></i> API</a>
                        </li>
                        <!-- end ngRepeat: (url, name) in sections -->
                        <li ng-repeat="(url, name) in sections" ng-class="{active: isActivePath(url)}"
                            class="ng-scope active">
                            <a ng-href="#/tutorial" class="ng-binding" href="#/tutorial"><i
                                class="icon-book icon-white"></i> Tutorial</a>
                        </li>
                        <!-- end ngRepeat: (url, name) in sections -->
                    </ul>
                    <div class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row clear-navbar"></div>

    <div class="row">
        <div class="col-xs-12">
            <!--[if lt IE 7]>
            <p class="alert alert-error">Your browser is <em>ancient!</em>
                <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
                <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
                experience this site.
            </p>
            <![endif]-->

            <!--[if lt IE 9]>
            <div class="alert">
                You are using an old version of Internet Explorer.
                For better and safer browsing experience please <a href="http://www.microsoft.com/IE9">upgrade IE</a>
                or install <a href="http://google.com/chrome">Google Chrome browser</a>.
            </div>
            <![endif]-->
        </div>

    </div>


    <div class="row">
        <!-- left panel -->
        <div class="col-xs-4 col-sm-4">
            <!-- search input field -->
            <!--<form class="form-search ng-pristine ng-valid" ng-submit="submitForm()">-->
                <!--<input type="text" class="form-control ng-pristine ng-valid" ng-model="search"-->
                       <!--placeholder="search the docs" tabindex="1" accesskey="s" focused="focused">-->

                <!--<div class="spacer"></div>-->

                <!--<ul class="nav nav-list well">-->
                    <!--<li><a>Linki1</a></li>-->
                    <!--<li><a>Linki2</a></li>-->
                <!--</ul>-->
            <!--</form>-->

            <!-- left panel list -->

            <h3>微信公众号
                <a href="" class="btn btn-default pull-right" ng-click="collapseAll()">收起</a>
                <a href="" class="btn btn-default pull-right" ng-click="expandAll()">展开</a>
            </h3>

            <!-- inline nested node template -->
            <script type="text/ng-template" id="nodes_renderer.html">
                <div ui-tree-handle class="tree-node tree-node-content">
                    <button class="btn btn-success btn-xs" ng-if="node.nodes && node.nodes.length > 0" data-nodrag
                            ng-click="toggle(this)">
                        <span class="glyphicon"
                              ng-class="{'glyphicon-chevron-right': collapsed, 'glyphicon-chevron-down': !collapsed}"></span>
                    </button>
                    {{node.title}}
                    <a class="pull-right btn btn-danger btn-xs" data-nodrag ng-click="remove(this)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                    <a class="pull-right btn btn-primary btn-xs" data-nodrag ng-click="newSubItem(this)"
                       style="margin-right: 8px;">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </div>
                <ol ui-tree-nodes="" ng-model="node.nodes" ng-class="{hidden: collapsed}">
                    <li ng-repeat="node in node.nodes" ui-tree-node ng-include="'nodes_renderer.html'">
                    </li>
                </ol>
            </script>

            <div id="tree-root" ui-tree>
                <ol ui-tree-nodes="" ng-model="data">
                    <li ng-repeat="node in data" ui-tree-node ng-include="'nodes_renderer.html'"></li>
                </ol>
            </div>


            <div ui-tree="options">

                <h3>分组</h3>
                <ol ui-tree-nodes ng-model="groups" data-type="group">
                    <li ng-repeat="group in groups" ui-tree-node>
                        <div class="group-title angular-ui-tree-handle" ng-show="!group.editing">
                            <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag
                               ng-click="removeGroup(group)"><i class="glyphicon glyphicon-remove"></i></a>
                            <a href="" class="btn btn-primary btn-xs pull-right" data-nodrag
                               ng-click="editGroup(group)"><i class="glyphicon glyphicon-pencil"></i></a>

                            <div>{{group.Name}}</div>
                        </div>
                        <div class="group-title angular-ui-tree-handle" data-nodrag ng-show="group.editing">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="sr-only" for="groupName">名字</label>
                                    <input type="text" class="form-control" placeholder="组名"
                                           ng-model="group.name">
                                </div>
                                <button type="submit" class="btn btn-default" ng-click="saveGroup(group)">保存</button>
                                <button type="submit" class="btn btn-default" ng-click="cancelEditingGroup(group)">取消</button>
                            </form>
                        </div>
                        <ol ui-tree-nodes ng-model="group.categories" data-type="category">
                            <li ng-repeat="category in group.categories" ui-tree-node>
                                <div class="category-title angular-ui-tree-handle">
                                    <a href="" class="btn btn-danger btn-xs pull-right" data-nodrag
                                       ng-click="removeCategory(group, category)"><i
                                        class="glyphicon glyphicon-remove"></i></a>

                                    <div>
                                        {{category.name}}
                                    </div>
                                </div>
                            </li>
                        </ol>
                        <ol class="angular-ui-tree-nodes" data-nodrag>
                            <li class="angular-ui-tree-node">
                                <div class="category-title angular-ui-tree-handle">
                                    <form class="form-inline" role="form">
                                        <div class="form-group">
                                            <label class="sr-only" for="categoryName">公众号</label>
                                            <input type="text" class="form-control" ng-model="group.newCategoryName"
                                                   placeholder="微信号">
                                        </div>
                                        <button type="submit" class="btn btn-default" ng-click="addCategory(group)">添加公众号
                                        </button>
                                    </form>
                                </div>
                            </li>
                        </ol>
                    </li>
                </ol>
                <ol class="angular-ui-tree-nodes">
                    <li class="angular-ui-tree-node">
                        <div class="group-title angular-ui-tree-handle">
                            <form class="form-inline" role="form">
                                <div class="form-group">
                                    <label class="sr-only" for="groupName">组名</label>
                                    <input type="text" class="form-control" id="groupName" placeholder="组名">
                                </div>
                                <button type="submit" class="btn btn-default" ng-click="addGroup()">创建新组</button>
                            </form>
                        </div>
                    </li>
                </ol>

            </div>

        </div>

        <!-- right panel -->
        <div class="col-xs-8 col-sm-8">
            <ul class="breadcrumb">
                <li><a href="">Tutorials</a></li>
                <li><a href="">101_intro</a></li>
            </ul>

            <div id="loading" ng-show="loading" class="ng-hide">Loading...</div>

            <div autoscroll>

                <div ng-controller="MainCtrl">
                    <div ui-grid="{ data: myData }" class="myGrid"></div>
                </div>

            </div>
        </div>
    </div>

</div>


