<div class="container-fluid">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <span class="navbar-brand">Wechat Analysis</span>
            </div>

            <div class="for-lg-view-hide">
                <div class="navbar-collapse ng-hide" ng-show="isExpanded" ng-click="isExpanded = false">
                    <div><span>Logout</span></div>
                </div>
            </div>

            <div class="for-sm-view-hide">
                <div class="navbar-collapse">
                    <ul class="nav navbar-nav">
                        <!-- ngRepeat: (url, name) in sections -->
                        <li ng-repeat="(url, name) in sections" ng-class="{active: isActivePath(url)}" class="ng-scope">
                            <a ng-href="#/api" class="ng-binding" href="#/api"><i class="icon-book icon-white"></i> API</a>
                        </li>
                        <!-- end ngRepeat: (url, name) in sections -->
                        <li ng-repeat="(url, name) in sections" ng-class="{active: isActivePath(url)}"
                            class="ng-scope active">
                            <a ng-href="#/tutorial" class="ng-binding" href="#/tutorial"><i
                                class="icon-book icon-white"></i> Tutorial</a>
                        </li>
                        <!-- end ngRepeat: (url, name) in sections -->
                    </ul>
                    <div class="navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row clear-navbar"></div>

    <!-- 浏览器检测 -->
    <div class="row">
        <div class="col-xs-12">
            <!--[if lt IE 7]>
            <p class="alert alert-error">Your browser is <em>ancient!</em>
                <a href="http://browsehappy.com/">Upgrade to a different browser</a> or
                <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to
                experience this site.
            </p>
            <![endif]-->

            <!--[if lt IE 9]>
            <div class="alert">
                You are using an old version of Internet Explorer.
                For better and safer browsing experience please <a href="http://www.microsoft.com/IE9">upgrade IE</a>
                or install <a href="http://google.com/chrome">Google Chrome browser</a>.
            </div>
            <![endif]-->
        </div>
    </div>


    <div class="row">
        <!-- left panel -->
        <div class="col-xs-4 col-sm-4">

            <section id="subscript">
                <header>
                    <h2>公众号关注列表</h2>
                    <label ng-if="message">{{message}}</label>
                    <form id="subscript-form" ng-submit="addSubscription()">
                        <input id="new-subscript" placeholder="关注公众号" ng-model="newSubscription" ng-disabled="saving" autofocus />
                    </form>
                </header>

                <section id="main">
                    <ul id="subscript-list">
                        <li ng-repeat="subscript in subscripts | orderBy track by $index">
                            <label>{{subscript.Name}}</label>
                            <button class="destroy" ng-click="removeSubscription(subscript)"></button>
                        </li>
                    </ul>
                </section>
            </section>
        </div>

        <!-- right panel -->
        <div class="col-xs-8 col-sm-8">
            <ul class="breadcrumb">
                <li><a href="">Tutorials</a></li>
                <li><a href="">101_intro</a></li>
            </ul>

            <div id="loading" ng-show="loading" class="ng-hide">Loading...</div>

            <div autoscroll>

                <div ng-controller="MainCtrl">
                    <div ui-grid="{ data: myData }" class="myGrid"></div>
                </div>

            </div>
        </div>
    </div>

</div>


